body, html, #game-container {
    /*overflow: hidden;*/
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

#game-container {
    display: grid;
    grid-template: 48px 1fr 48px 250px / 300px 1fr;
    grid-template-areas:
            "cathead main"
            "cattery main"
            "goalhead main"
            "goal main";
}

#cattery-header {
    grid-area: cathead;
    z-index: 99999;
}

#cattery {
    grid-area: cattery;
    min-height: 250px;
    overflow-x: auto;
    background: #faf9f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goal-header {
    grid-area: goalhead;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding-right: 32px;
}

#score {
    justify-self: right;
}

#goal {
    grid-area: goal;
    background: #faf9f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    grid-area: main;
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.2) inset;
    min-width: 750px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 24px;
    background: silver;
    font-size: 18px;
}

.cat-container {
    background-color: #faf9f7;
    height: 200px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25) inset;
}

.big-btn {
    background-color: silver;
    font-size: 20px;
    height: 96px;
    width: 33%;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid gray;
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.small-btn {
    background: silver;
    border: 1px solid black;
    border-radius: 4px;
    width: 128px;
    height: 24px;
    padding: 4px 0;
    font-size: 14px;
    text-align: center;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#back-btn {
    position: absolute;
    z-index: 9999;
    background-color: silver;
    border-bottom-right-radius: 4px;
    border: 2px solid gray;
    height: 48px;
    width: 48px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
}

#refresh-btn {
    position: absolute;
    z-index: 9999;
    background-color: silver;
    border-bottom-left-radius: 4px;
    border: 2px solid gray;
    height: 48px;
    width: 48px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    box-shadow: -1px -1px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
}

#home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#adopt-screen {
    display: grid;
    grid-template: 3fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 48px;
}

#breed-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#breed-confirm {
    height: 48px;
    width: 152px;
    font-size: 14px;
}

#parents {
    display: grid;
    grid-template: 3fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#offspring {
    display: grid;
    grid-template: 3fr 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 48px;
}

#select-1 {
    grid-column: 1;
}

#select-2 {
    grid-column: 3;
}

svg.cat {
    height: 200px;
    width: 250px;
    min-height: 200px;
    min-width: 250px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#cattery svg.cat {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.selected {
    background-color: cornsilk;
}
#cattery.selected {
    background-color: cornsilk;
}

#storage-screen {
    overflow-x: auto;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 32px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}